<html>
  <head>
    <title>Google Signin!</title>
    <script src="https://apis.google.com/js/platform.js" defer ></script>
    <script src="/js/login-script.js" defer ></script>
  </head>
  <body>
    {{!-- 330525107358-sbt74gl2r9e92ng2jpchj37here0vnin.apps.googleusercontent.com --}}
    <h1>Welcome to google sign-in</h1>
    <button id="login">Login</button>
    <button id="logout">Logout</button>
  </body>
</html>